* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.parent_container {
  display: flex;
  flex-direction: column;
  width: 900px;
  align-self: center;
}

.div_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box_container {
  width: 500px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box_element {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
  display: flex;
  align-self: center;
}

.copy_button {
  margin-top: 17px !important;
  display: flex;
  align-self: center;
}

.hotkey {
  display: flex;
  justify-content: space-evenly;
}

.new_box_element {
  margin-bottom: 44px !important;
  display: flex;
  justify-content: center;
}

.inn_box_element {
  display: flex;
  align-self: center;
}
.refresh_box_element {
  display: flex;
  justify-content: center;
  margin-bottom: 22px !important
}
