* {
  margin: 0;
  padding: 0;
}

.parent_container {
  display: flex;
  flex-direction: column;
}

.div_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box_container {
  width: 500px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box_element {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
  display: flex;
  align-self: center;
}

.copy_button {
  margin-top: 17px !important;
  display: flex;
  align-self: center;
}